<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainactivity.santiagolondono.com.tourism_sopetran" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_about"
            android:label="@string/title_activity_activity_about" >
        </activity>
        <activity
            android:name=".activity_bar"
            android:label="@string/title_activity_activity_bar" >
        </activity>
        <activity
            android:name=".activity_hotel"
            android:label="@string/title_activity_activity_hotel" >
        </activity>
        <activity
            android:name=".activity_sitios"
            android:label="@string/title_activity_activity_sitios" >
        </activity>
        <activity
            android:name=".activity_demografia"
            android:label="@string/title_activity_activity_demografia" >
        </activity>
    </application>

</manifest>
